.background-pic{
    background-image: url("../images/cover.jpg");
    height:100vh;
    background-position: center;
    background-size:cover;
    padding-bottom: 10px;
}

.center-me{
    display: flex;
    justify-content: center;

}

.form-signin{
    margin-top:50px;
    margin-bottom: 0;
    padding:40px 40px 5px 40px;
    text-align: center;
    border-radius: 10px;
}

.login-logo{
    height:100px;
    width:100px;
}

input{
    margin-bottom: 10px;
}

.c-img{
    border-radius: 10px;
    border:1px solid black;
}