.about {
	margin-left: 5px;
	margin-right: 5px;
	background:rgba(204, 230, 255, 0.5);
}


.d{
	border-style: solid;
	margin: 10px;
	border-radius: 50%;
}
.m{
	border-style: solid;
	margin: 10px;
	border-radius: 50%;
}
.b{
	border-style: solid;
	margin: 10px;
	border-radius: 50%;
}
.da{
	border-style: solid;
	margin: 10px;
	border-radius: 50%;
}


button {
	margin-bottom: 50px;
	border-style: solid;
	border-color: black;
	font-weight: bold;
	height: 50px;
	width: 100px;
}

.company{
	padding-bottom: 5px;
}

.descript1{
	margin-left: 10px;
}
.descript2{
	margin-left: 10px;
}
.descript3{
	margin-left: 10px;
}
.descript4{
	margin-left: 10px;
}


.founder{
	margin-left: 10px;
}

.cofounder{
	margin-left: 10px;
}

.cfo{
	margin-left: 10px;
}

.coo{
	margin-left: 10px;
}

.darius{
	margin-left: 10px;
}

.mark{
	margin-left: 10px;
}

.brad{
	margin-left: 10px;
}

.david{
	margin-left: 10px;
}

.column1 {
	margin-bottom: 15px;
	border-style: solid;
	border-color: black;
	color:white;
	background:rgb(0,105,204);
	width:600px;
}

.column2 {
	border-style: solid;
	border-color: black;
	color:white;
	background:rgb(102,102,102);
	width:600px;
	margin-bottom: 15px;
}


.column3 {
	border-style: solid;
	border-color: black;
	background:rgb(115,153,0);
	width:600px;
	margin-bottom:15px;
}
.column4 {
	border-style: solid;
	border-color: black;
	background:rgb(153,221,255);
	width:600px;
	margin:0px;

}
